$calculatrice-width: 20rem;
$window-width: 50rem;
$window-height: 38rem;
$params-width: 45rem;
$params-height: 33rem;
$operations-pannel-height: 21.8rem;
$operations-pannel-width: 13rem;
$calculator-wrapper-width: 35rem;
$calculator-wrapper-height: 38rem;

:root {
  --white-background: #fff;
  --light-blue-border: #235c6a;
  --light-blue-color: #438697;
  --light-yellow-border: #ecda0d;
  --dark-indigo-background: #808fc7;
  --dark-gray-border: #e8e8ea;
  --dark-gray-dots: #e8e8ea;
  --turquoise: #1abc9c;
  --greensea: #16a085;
  --night: #34495e;
  --midnight: #2c3e50;
}

//*BREAKPOINTS
$min-small-screen: 320px;
$max-small-screen: 480px;

$min-medium-screen: 481px;
$max-medium-screen: 1024px;

$min-large-screen: 1025px;

body {
  background-image: url("../assets/bg_6.jpg");
  // display: block;
  overflow: hidden;
  // background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-repeat: no-repeat;
  background-position-x: center;
  //   background-position-y: 30%;
  #starting-page {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #d59bbe;
    z-index: 1;
    // display: none;

    @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
      img {
        width: 100%;
      }
    }
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .open_systeme_button {
      padding: 1em 2em 1em 2em;
      cursor: pointer;
      color: white;
      margin-top: 15em;
      text-align: center;

      img {
        width: 50px;
        height: 50px;
      }

      &:hover {
        background-color: lighten(rgba(255, 255, 255, 0.658), 20%);
      }
    }
  }

  /* Animation moon size and position */
  @keyframes switch {
    0% {
      left: 4px;
    }
    60% {
      left: 4px;
      width: 50px;
    }
    100% {
      left: 55px;
      width: 30px;
    }
  }
  @keyframes reverse {
    0% {
      left: 20px;
      width: 82px;
    }
    60% {
      left: 40px;
      width: 50px;
    }
    100% {
      left: 4px;
    }
  }

  .glass_effect {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.47);
  }

  header {
    display: none;
    #switch-mode-btn {
      width: 2.5rem;
      right: 2.5rem;
      top: 4rem;
      position: absolute;
      background-color: grey;

      img {
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }
    }

    nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.47);

      #left-menu-btns {
        width: 20%;
        display: flex;
        justify-content: start;
        margin: 0;
        list-style: none;
        align-items: center;

        @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
          display: none;
        }
        li {
          display: none;
          flex-basis: 13%;
          margin: 0 1.5rem 0 0;

          img {
            width: 100%;

            &:hover {
              filter: brightness(150%);
              cursor: pointer;
            }
          }
        }
      }

      #right-menu-btns {
        @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
          width: 100%;
        }

        @media only screen and (min-device-width: $min-medium-screen) and (max-device-width: $max-medium-screen) {
          width: 50%;
        }

        @media only screen and (min-device-width: $min-large-screen) {
          width: 25%;
        }

        display: flex;
        justify-content: space-around;
        margin: 0;
        list-style: none;
        align-items: center;
        padding: 0.5rem 0;
        width: 70%;

        li {
          flex-basis: 6%;
          color: #ffffff;

          img {
            width: 100%;
          }
        }

        .dateTime {
          white-space: nowrap;
          font-size: 0.9rem;
        }

        #vibration-icon-on,
        #vibration-icon-off {
          //par défaut, la vibration est désactivée et est non affichée
          display: none;
        }
      }
    }

    .mode-switch {
      display: none;
    }
    .mode-switch:checked ~ .background {
      background: var(--dark-indigo-background);
    }
    .mode-switch:checked + .mode-label {
      background: var(--midnight);
      border-color: var(--night);
    }
    /*First dot outside moon */
    .mode-switch:checked + .mode-label .mode-label-background:before {
      width: 3px;
      height: 3px;
      top: -10px;
    }
    /* Second dot ouside moon */
    .mode-switch:checked + .mode-label .mode-label-background {
      left: 45px;
      width: 3px;
      height: 3px;
    }
    /* Third dot outside moon */
    .mode-switch:checked + .mode-label .mode-label-background:after {
      width: 3px;
      height: 3px;
      left: -25px;
      top: 5px;
    }
    .mode-switch:checked + .mode-label:before {
      background: var(--white-background);
      border-color: var(--dark-gray-border);
      animation-name: switch;
      animation-duration: 350ms;
      animation-fill-mode: forwards;
    }
    .mode-switch:checked + .mode-label:after {
      transition-delay: 350ms;
      opacity: 1;
    }
    /* Slide bar */
    .mode-label {
      width: 95px;
      height: 40px;
      float: right;
      margin-top: 10px;
      margin-right: 10px;
      background: var(--light-blue-color);
      border-radius: 100px;
      border: 3px solid var(--light-blue-border);
      display: flex;
      position: relative;
      transition: all 350ms ease;
    }
    /* Second stick light and whole group */
    .mode-label-background {
      width: 7px;
      height: 2px;
      border-radius: 5px;
      position: relative;
      background: var(--light-yellow-border);
      left: 60px;
      top: 20px;
      transition: all 150ms ease;
    }
    /* Sun and moon */
    .mode-label:before {
      animation-name: reverse;
      animation-duration: 350ms;
      animation-fill-mode: forwards;
      transition: all 350ms ease;
      content: "";
      width: 30px;
      height: 30px;
      border: 3px solid var(--light-yellow-border);
      top: 2px;
      left: 4px;
      position: absolute;
      border-radius: 82px;
      background: var(--white-background);
    }
    /* Dots inside moon */
    .mode-label:after {
      transition-delay: 0ms;
      transition: all 250ms ease;
      position: absolute;
      content: "";
      box-shadow: var(--dark-gray-dots) -13px 0 0 2px,
        var(--dark-gray-dots) -20px 5px 0 -2px;
      left: 85px;
      top: 10px;
      width: 7px;
      height: 7px;
      background: transparent;
      border-radius: 50%;
      opacity: 0;
    }
    /* First stick light */
    .mode-label-background:before {
      content: "";
      position: absolute;
      top: -5px;
      width: 30px;
      height: 2px;
      border-radius: 5px;
      background: var(--light-yellow-border);
      left: -10px;
      transition: all 150ms ease;
    }
    /* Third stick light */
    .mode-label-background:after {
      content: "";
      position: absolute;
      top: 5px;
      width: 30px;
      height: 2px;
      border-radius: 5px;
      background: var(--light-yellow-border);
      left: -5px;
      transition: all 150ms ease;
    }
  }

  main {
    input[type="text"] {
      width: 100px;
      height: 30px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      color: #333;
      font-size: 14px;
      display: none;
    }

    display: none;
    #app_list {
      width: 100%;
      margin: 0;

      // @media (max-width: 768px) {
      // flex-direction: column;
      // justify-content: center;
      // width: 7rem;
      // }

      span {
        width: 10vmax;
        position: absolute;

        img {
          width: 100%;
          border-radius: 10px;

          &:hover {
            filter: brightness(120%);
            cursor: pointer;
          }
        }
      }

      //*Small screen
      @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
        #calculator-icon {
          left: 10%;
          top: 30%;
        }

        #clock-icon {
          top: 30%;
          left: 40%;
        }

        #tictactoe-icon {
          top: 30%;
          left: 70%;
        }

        #params-icon {
          top: 50%;
          left: 10%;
        }
      }

      //*Medium screen
      @media only screen and (min-device-width: $min-medium-screen) and (max-device-width: $max-medium-screen) {
        #calculator-icon {
          left: 10%;
          top: 45%;
        }

        #clock-icon {
          top: 45%;
          left: 32%;
        }

        #tictactoe-icon {
          top: 45%;
          left: 53%;
        }

        #params-icon {
          top: 45%;
          left: 75%;
        }
      }

      @media only screen and (min-device-width: $min-large-screen) {
        #calculator-icon {
          left: 20%;
          top: 45%;
        }

        #clock-icon {
          top: 45%;
          left: 37%;
        }

        #tictactoe-icon {
          top: 45%;
          left: 53%;
        }

        #params-icon {
          top: 45%;
          left: 70%;
        }
      }
    }

    /* GLASSMORPHISM PROPERTIES */
    .glass {
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.47);
    }

    .darkglass {
      background: rgba(39, 36, 36, 0.73);
      border: 1px solid rgba(0, 0, 0, 0.493);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.438);
      backdrop-filter: blur(5px);
    }

    .darkbtn {
      background-color: #0a0027;
      color: white;
    }

    .darkbtn:hover {
      background-color: transparent;
      background: rgba(28, 21, 37, 0.2);
      border: 1px solid rgba(28, 21, 37, 0.29);
    }

    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .window {
      @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-medium-screen) {
        height: 100%;
        width: 100%;
      }

      height: $window-height;
      width: $window-width;
      display: none;

      .window-upper-btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: rgba(255, 255, 255, 0.7);

        span {
          margin: 0.5em;
          color: white;

          .fa-xmark {
            color: red;
            font-size: 1.5rem;
          }
          .fa-xmark:hover {
            cursor: pointer;
            color: rgb(171, 84, 84);
          }

          .fa-minus {
            color: #282828;
            font-size: 1.5rem;
          }

          &:hover {
            cursor: pointer;
            color: grey;
          }
        }
      }

      .window-content {
        height: 97%;

        * {
          padding: 0;
          // margin: 0;
          box-sizing: border-box;
          font-family: "Raleway", sans-serif;
        }

        param-switch {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }
        .param-label {
          display: flex;
          align-items: center;
          width: 4em;
          height: 30px;
          background: var(--midnight);
          border-radius: 1.5em;
          transition: all 0.5s ease;
          cursor: pointer;
        }
        .param-label-background {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.5em;
          height: 1.5em;
          background: var(--night);
          border-radius: 50%;
          transition: all 0.5s ease;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        }
        .param-label-background::before {
          content: "\00D7";
          font-size: 15px;
          font-weight: bold;
          color: white;
        }
        .param-switch {
          display: none;
        }
        .param-switch:checked + .param-label {
          background: var(--greensea);
        }
        .param-switch:checked + .param-label .param-label-background {
          margin-left: 60%;
          background: var(--turquoise);
        }
        .param-switch:checked + .param-label .param-label-background::before {
          content: "\2714";
        }
        /* .time-param-display {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 1rem 0 1rem 0;
        } */

        #tictac {
          height: inherit;
          overflow: hidden;

          .wrapper {
            margin-top: 2%;
            font-weight: 700;
            display: flex;
            width: 30rem;
            flex-direction: column;

            .score-wrapper {
              width: 80%;
              margin: auto;
              display: flex;
              justify-content: space-between;
              flex-direction: row;

              .score {
                color: white;
                font-size: 3vmin;
                text-align: center;
                margin: 0 1vh;
                padding: 2vh;
                border-radius: 8px;
                background-color: #0a0027;
                box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
              }

              #scoreTie {
                background-color: white;
                color: #0a0027;
              }
            }

            .container {
              // width: 40vmin;
              // height: 33vmin;
              width: 80%;
              height: 80%;
              display: flex;
              flex-wrap: wrap;
              gap: 1vmin;
              margin: auto;
              margin-top: 1rem;
              justify-content: center;

              .button-option {
                height: 5rem;
                width: 26%;
                font-size: 8.5vmin;
                color: #12043d;
                border-radius: 10px;
              }

              .button-option:hover {
                background: rgba(255, 255, 255, 0.5);
              }
            }

            .gamebtn {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 50%;
              margin: auto;
              margin-top: 1rem;
            }
          }

          button:hover {
            cursor: pointer;
          }

          .op {
            font-weight: 700;
            padding: 1em;
            border-radius: 8px;
            background-color: white;
            color: rgba(41, 34, 156, 1);
            border: 1px solid transparent;
            position: relative;
            margin: 0.5em auto;
            display: flex;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          }

          .choice {
            display: flex;
            padding: 0.5em;

            .op {
              padding: 0.3em 1.2em;
              font-size: 5vmin;
              margin: auto 0.5em;
              justify-content: center;
            }

            .op:hover {
              background-color: transparent;
              border: 1px solid white;
              background: rgba(255, 255, 255, 0.3);
            }
          }

          .popup {
            background-size: cover;
            height: inherit;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1em;

            #message {
              color: white;
              text-align: center;
              font-size: 1em;
            }

            #play-again {
              padding: 0.5em 1em;
              font-size: 0.6em;
              border-radius: 8px;
              background-color: white;
              color: rgba(41, 34, 156, 1);
              border: none;
            }
          }

          .popup.hide {
            display: none;
            animation: fadeOut 0.5s ease-in-out;
          }

          @keyframes fadeIn {
            0% {
              opacity: 0;
            }

            100% {
              opacity: 1;
            }
          }

          @keyframes fadeOut {
            0% {
              opacity: 1;
            }

            100% {
              opacity: 0;
            }
          }
        }

        .calculator-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: $calculator-wrapper-width;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
            flex-direction: column;
          }

          #calculator {
            margin: 0;
            width: $calculatrice-width;

            @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
              margin: auto;
            }

            .result td {
              border-radius: 5px;
              input {
                display: block;
                width: 100%;
                background: none;
                border: none;
                padding: 1rem 0;
                font-family: "Roboto Mono", monospace;
              }
            }

            .keys {
              input {
                width: calc($calculatrice-width / 4);
                background: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.47);
                padding: 1.5rem;
                border-radius: 5px;
                font-family: "Roboto Mono", monospace;

                &:hover {
                  background-color: lighten(rgba(255, 255, 255), 75%);
                }
              }

              #btn-refresh {
                background-color: rgb(214, 133, 224);

                &:hover {
                  background-color: lighten(rgb(214, 133, 224), 10%);
                }
              }

              #btn-equal {
                background-color: rgb(123, 155, 216);

                &:hover {
                  background-color: lighten(rgb(123, 155, 216), 10%);
                }
              }
            }
          }

          #operations-pannel {
            @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
              margin: auto;
              height: 5rem;
              margin-top: 1rem;
              width: 20rem;
              overflow: scroll;
            }

            height: $operations-pannel-height;
            width: $operations-pannel-width;
            margin-bottom: 0.3rem;
            border-radius: 5px;
            list-style: none;
            padding: 0;

            li {
              padding: 0 10px 0 10px;
              color: rgb(145, 145, 145);
              width: 100%;
            }

            &:hover {
              background-color: lighten(rgb(123, 155, 216), 10%);
            }
          }
        }

        #clock {
          .card {
            @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
              width: 100%;
              padding: 0;
            }

            /* max-width: 500px; */
            width: 700px;
            height: 400px;
            padding: 35px;
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(5px);
            .tab {
              overflow: hidden;
              border: 1px solid #ccc;
              background-color: #f1f1f1;
              border-radius: 10px;
              height: 10%;
              display: flex;
              justify-content: space-evenly;

              button {
                background-color: inherit;
                border: none;
                border-radius: 10px;
                outline: none;
                cursor: pointer;
                padding: 1px 16px;
                transition: 0.3s;
                font-size: 17px;
              }

              button:hover {
                background-color: rgba(255, 255, 255, 0.45);
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(5px);
              }

              button.active {
                background-color: #ccc;
              }
            }

            .analog-clock {
              width: 10rem;
              height: 10rem;
              position: relative;
              padding: 1rem;
              border: 5px solid #282828;
              box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
                inset 4px 4px 10px rgba(0, 0, 0, 0.5),
                inset -4px -4px 10px rgba(67, 67, 67, 0.5),
                4px 4px 10px rgba(0, 0, 0, 0.3);
              border-radius: 50%;
              margin: 20px auto;
              background-color: #282828;

              .line {
                position: relative;
                background: #282828;
                overflow: hidden;
                width: 100%;
                height: 100%;
                border-radius: 100%;

                .sub {
                  background: #bdbdcb;
                  width: 2px;
                }

                .sub.sub-one {
                  -webkit-transform: rotate(30deg);
                  -moz-transform: rotate(30deg);
                  transform: rotate(30deg);
                }

                .sub.sub-two {
                  -webkit-transform: rotate(60deg);
                  -moz-transform: rotate(60deg);
                  transform: rotate(60deg);
                }

                .sub.sub-three {
                  -webkit-transform: rotate(120deg);
                  -moz-transform: rotate(120deg);
                  transform: rotate(120deg);
                }

                .sub.sub-four {
                  -webkit-transform: rotate(150deg);
                  -moz-transform: rotate(150deg);
                  transform: rotate(150deg);
                }

                .circle {
                  position: absolute;
                  top: 10%;
                  left: 10%;
                  width: 80%;
                  height: 80%;
                  background: #282828;
                  -webkit-border-radius: 100%;
                  -moz-border-radius: 100%;
                  border-radius: 100%;
                  z-index: 1;

                  .hand {
                    width: 50%;
                    right: 50%;
                    height: 6px;
                    background: #dda0dd;
                    position: absolute;
                    top: 50%;
                    border-radius: 6px;
                    transform-origin: 100%;
                    transform: rotate(90deg);
                    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
                  }

                  .hand.hand-hour {
                    width: 30%;
                    z-index: 3;
                  }

                  .hand.hand-min {
                    height: 3px;
                    z-index: 10;
                    width: 40%;
                  }

                  .hand.hand-second {
                    background: #ff0000;
                    width: 45%;
                    height: 2px;
                    z-index: 1;
                  }

                  .time-ref-display {
                    color: rgba(255, 255, 255, 0.45);
                    position: absolute;
                    left: 40%;
                    top: 70%;
                  }
                }

                .circle::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 10px;
                  height: 10px;
                  border-radius: 18px;
                  margin-left: -5px;
                  margin-top: -4px;
                  background: #4d4b63;
                  z-index: 11;
                }
              }

              .line::after {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                transform: rotate(90deg);
              }

              .line::after,
              .line::before,
              .line .sub {
                content: "";
                position: absolute;
                width: 3px;
                height: 100%;
                background: #f1f1f1;
                z-index: 0;
                left: 49%;
              }
            }

            .digital-clock-display {
              font-size: 40px;
              position: relative;
              display: flex;
              justify-content: center;
              color: gray;
            }

            li > div.digital-clock-display {
              font-size: 15px;
            }

            .stopwatch-btn {
              display: flex;
            }
            .stopwatch-wrapper,
            .timer-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-top: 20px;
            }

            .time-display {
              font-size: 40px;
              position: relative;
              display: flex;
              justify-content: center;
              color: gray;
            }

            .btn-clock {
              font-weight: 700;
              padding: 1em;
              border-radius: 8px;
              background-color: white;
              color: rgba(41, 34, 156, 1);
              border: 1px solid transparent;
              box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
              transition: all 0.3s ease-in-out;
              cursor: pointer;
              margin: 1em;
            }

            .btn-clock:hover {
              background-color: rgba(41, 34, 156, 1);
              color: white;
              border: 1px solid rgba(41, 34, 156, 1);
            }

            .stopwatch-lap {
              scroll-behavior: smooth;
              overflow-y: scroll;
              width: 100%;
              height: 100%;
              margin: 3em;
            }

            .stopwatch-lap > div {
              list-style: none;
            }

            .stopwatch-lap::-webkit-scrollbar {
              width: 6px;
              height: 6px;
            }

            .stopwatch-lap::-webkit-scrollbar-track {
              background: #f1f1f1;
              border-radius: 6px;
            }

            .stopwatch-lap::-webkit-scrollbar-thumb {
              background: #888;
              border-radius: 6px;
            }

            .stopwatch-lap::-webkit-scrollbar-thumb:hover {
              background: #555;
              border-radius: 6px;
            }

            .stopwatch-lap > div {
              display: flex;
              justify-content: space-between;
              width: 100%;
              padding: 0.5em;
            }

            .stopwatch-lap > div > div {
              width: 50%;
            }

            .stopwatch-lap > div > div:first-child {
              text-align: left;
            }

            .stopwatch-lap > div > div:last-child {
              text-align: right;
            }

            .stopwatch-lap > div > div > span {
              font-size: 20px;
            }

            .stopwatch-lap > div > div > span:first-child {
              color: gray;
            }

            .stopwatch-lap > div > div > span:last-child {
              color: rgba(41, 34, 156, 1);
            }
          }
        }
      }
    }
  }

  #params {
    @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
      width: 100%;
      position: absolute;
      top: 40%;
    }

    display: none;
    width: $params-width;
    height: $params-height;
    margin-top: 3rem;

    #params-icons {
      list-style: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;

      @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
        flex-wrap: wrap;
        font-size: 12px;
      }

      li {
        text-align: center;
        flex-basis: 7rem;
        margin: 2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border-radius: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        height: auto;
        text-align: bottom;
        text-align-last: center;

        @media only screen and (min-device-width: $min-small-screen) and (max-device-width: $max-small-screen) {
          flex-basis: 6rem;
          margin: 1rem;
          height: auto;
          img {
            width: 100%;
          }
        }

        img {
          width: 100%;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  #vibration-wrapper,
  #time-wrapper,
  #date-wrapper,
  #battery-wrapper,
  #network-wrapper,
  #lockscreen-wrapper {
    // display: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 42rem;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    height: 28rem;

    div {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0 1rem 0;
    }

    button {
      background: rgb(214, 133, 224, 0.7);
      border-radius: 99px;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 13px;
      font-weight: 500;
      padding: 10px 18px;
      z-index: 1;
      border: 0;
      width: 8rem;
      cursor: pointer;
      font-weight: 800;

      &:hover {
        background-color: lighten(rgb(214, 133, 224), 15%);
      }
    }

    select {
      font-size: 12px; 
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      color: #333;
    }
  }

  .param-title {
    color: #3e3e3e;
    margin: auto;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #password-choice-pannel {
    display: none;
    width: 25rem;
    height: 15rem;
    position: absolute;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(156, 102, 153, 0.441);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 999;

    h3 {
      text-align: center;
      color: #7e313f;
    }

    input {
      padding: 10px;
      border-radius: 5px;
      width: 13rem;
      margin: auto;
      border: 2px solid pink;
    }

    button {
      width: 4rem;
      padding: 10px;
      border-style: none;
      margin: auto;
      margin-top: -1.5em;
      border: 2px solid pink;
      background-color: rgba(206, 109, 125, 0.803);
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgba(195, 145, 154, 0.803);
      }
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
