@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
:root {
  --white-background: #fff;
  --light-blue-border: #235c6a;
  --light-blue-color: #438697;
  --light-yellow-border: #ecda0d;
  --dark-indigo-background: #808fc7;
  --dark-gray-border: #e8e8ea;
  --dark-gray-dots: #e8e8ea;
  --turquoise: #1abc9c;
  --greensea: #16a085;
  --night: #34495e;
  --midnight: #2c3e50;
}

body {
  background-image: url("../assets/bg_6.jpg");
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-repeat: no-repeat;
  background-position-x: center;
  /* Animation moon size and position */
}
body #starting-page {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #d59bbe;
  z-index: 1;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body #starting-page img {
    width: 100%;
  }
}
body #starting-page .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #starting-page .open_systeme_button {
  padding: 1em 2em 1em 2em;
  cursor: pointer;
  color: white;
  margin-top: 15em;
  text-align: center;
}
body #starting-page .open_systeme_button img {
  width: 50px;
  height: 50px;
}
body #starting-page .open_systeme_button:hover {
  background-color: rgba(255, 255, 255, 0.658);
}
@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 50px;
  }
  100% {
    left: 55px;
    width: 30px;
  }
}
@keyframes reverse {
  0% {
    left: 20px;
    width: 82px;
  }
  60% {
    left: 40px;
    width: 50px;
  }
  100% {
    left: 4px;
  }
}
body .glass_effect {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.47);
}
body header {
  display: none;
  /*First dot outside moon */
  /* Second dot ouside moon */
  /* Third dot outside moon */
  /* Slide bar */
  /* Second stick light and whole group */
  /* Sun and moon */
  /* Dots inside moon */
  /* First stick light */
  /* Third stick light */
}
body header #switch-mode-btn {
  width: 2.5rem;
  right: 2.5rem;
  top: 4rem;
  position: absolute;
  background-color: grey;
}
body header #switch-mode-btn img {
  width: 100%;
}
body header #switch-mode-btn img:hover {
  cursor: pointer;
}
body header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.47);
}
body header nav #left-menu-btns {
  width: 20%;
  display: flex;
  justify-content: start;
  margin: 0;
  list-style: none;
  align-items: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body header nav #left-menu-btns {
    display: none;
  }
}
body header nav #left-menu-btns li {
  display: none;
  flex-basis: 13%;
  margin: 0 1.5rem 0 0;
}
body header nav #left-menu-btns li img {
  width: 100%;
}
body header nav #left-menu-btns li img:hover {
  filter: brightness(150%);
  cursor: pointer;
}
body header nav #right-menu-btns {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  align-items: center;
  padding: 0.5rem 0;
  width: 70%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body header nav #right-menu-btns {
    width: 100%;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  body header nav #right-menu-btns {
    width: 50%;
  }
}
@media only screen and (min-device-width: 1025px) {
  body header nav #right-menu-btns {
    width: 25%;
  }
}
body header nav #right-menu-btns li {
  flex-basis: 6%;
  color: #ffffff;
}
body header nav #right-menu-btns li img {
  width: 100%;
}
body header nav #right-menu-btns .dateTime {
  white-space: nowrap;
  font-size: 0.9rem;
}
body header nav #right-menu-btns #vibration-icon-on,
body header nav #right-menu-btns #vibration-icon-off {
  display: none;
}
body header .mode-switch {
  display: none;
}
body header .mode-switch:checked ~ .background {
  background: var(--dark-indigo-background);
}
body header .mode-switch:checked + .mode-label {
  background: var(--midnight);
  border-color: var(--night);
}
body header .mode-switch:checked + .mode-label .mode-label-background:before {
  width: 3px;
  height: 3px;
  top: -10px;
}
body header .mode-switch:checked + .mode-label .mode-label-background {
  left: 45px;
  width: 3px;
  height: 3px;
}
body header .mode-switch:checked + .mode-label .mode-label-background:after {
  width: 3px;
  height: 3px;
  left: -25px;
  top: 5px;
}
body header .mode-switch:checked + .mode-label:before {
  background: var(--white-background);
  border-color: var(--dark-gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
body header .mode-switch:checked + .mode-label:after {
  transition-delay: 350ms;
  opacity: 1;
}
body header .mode-label {
  width: 95px;
  height: 40px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background: var(--light-blue-color);
  border-radius: 100px;
  border: 3px solid var(--light-blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease;
}
body header .mode-label-background {
  width: 7px;
  height: 2px;
  border-radius: 5px;
  position: relative;
  background: var(--light-yellow-border);
  left: 60px;
  top: 20px;
  transition: all 150ms ease;
}
body header .mode-label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease;
  content: "";
  width: 30px;
  height: 30px;
  border: 3px solid var(--light-yellow-border);
  top: 2px;
  left: 4px;
  position: absolute;
  border-radius: 82px;
  background: var(--white-background);
}
body header .mode-label:after {
  transition-delay: 0ms;
  transition: all 250ms ease;
  position: absolute;
  content: "";
  box-shadow: var(--dark-gray-dots) -13px 0 0 2px, var(--dark-gray-dots) -20px 5px 0 -2px;
  left: 85px;
  top: 10px;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}
body header .mode-label-background:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background: var(--light-yellow-border);
  left: -10px;
  transition: all 150ms ease;
}
body header .mode-label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background: var(--light-yellow-border);
  left: -5px;
  transition: all 150ms ease;
}
body main {
  display: none;
  /* GLASSMORPHISM PROPERTIES */
}
body main input[type=text] {
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}
body main #app_list {
  width: 100%;
  margin: 0;
}
body main #app_list span {
  width: 10vmax;
  position: absolute;
}
body main #app_list span img {
  width: 100%;
  border-radius: 10px;
}
body main #app_list span img:hover {
  filter: brightness(120%);
  cursor: pointer;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body main #app_list #calculator-icon {
    left: 10%;
    top: 30%;
  }
  body main #app_list #clock-icon {
    top: 30%;
    left: 40%;
  }
  body main #app_list #tictactoe-icon {
    top: 30%;
    left: 70%;
  }
  body main #app_list #params-icon {
    top: 50%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  body main #app_list #calculator-icon {
    left: 10%;
    top: 45%;
  }
  body main #app_list #clock-icon {
    top: 45%;
    left: 32%;
  }
  body main #app_list #tictactoe-icon {
    top: 45%;
    left: 53%;
  }
  body main #app_list #params-icon {
    top: 45%;
    left: 75%;
  }
}
@media only screen and (min-device-width: 1025px) {
  body main #app_list #calculator-icon {
    left: 20%;
    top: 45%;
  }
  body main #app_list #clock-icon {
    top: 45%;
    left: 37%;
  }
  body main #app_list #tictactoe-icon {
    top: 45%;
    left: 53%;
  }
  body main #app_list #params-icon {
    top: 45%;
    left: 70%;
  }
}
body main .glass {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.47);
}
body main .darkglass {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.493);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.438);
}
body main .darkbtn {
  background-color: #0a0027;
  color: white;
}
body main .darkbtn:hover {
  background-color: transparent;
  background: rgba(28, 21, 37, 0.2);
  border: 1px solid rgba(28, 21, 37, 0.29);
}
body main .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main .window {
  height: 38rem;
  width: 50rem;
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  body main .window {
    height: 100%;
    width: 100%;
  }
}
body main .window .window-upper-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.7);
}
body main .window .window-upper-btns span {
  margin: 0.5em;
  color: white;
}
body main .window .window-upper-btns span .fa-xmark {
  color: red;
  font-size: 1.5rem;
}
body main .window .window-upper-btns span .fa-xmark:hover {
  cursor: pointer;
  color: rgb(171, 84, 84);
}
body main .window .window-upper-btns span .fa-minus {
  color: #282828;
  font-size: 1.5rem;
}
body main .window .window-upper-btns span:hover {
  cursor: pointer;
  color: grey;
}
body main .window .window-content {
  height: 97%;
  /* .time-param-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
  } */
}
body main .window .window-content * {
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body main .window .window-content param-switch {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
body main .window .window-content .param-label {
  display: flex;
  align-items: center;
  width: 4em;
  height: 30px;
  background: var(--midnight);
  border-radius: 1.5em;
  transition: all 0.5s ease;
  cursor: pointer;
}
body main .window .window-content .param-label-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  background: var(--night);
  border-radius: 50%;
  transition: all 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
body main .window .window-content .param-label-background::before {
  content: "×";
  font-size: 15px;
  font-weight: bold;
  color: white;
}
body main .window .window-content .param-switch {
  display: none;
}
body main .window .window-content .param-switch:checked + .param-label {
  background: var(--greensea);
}
body main .window .window-content .param-switch:checked + .param-label .param-label-background {
  margin-left: 60%;
  background: var(--turquoise);
}
body main .window .window-content .param-switch:checked + .param-label .param-label-background::before {
  content: "✔";
}
body main .window .window-content #tictac {
  height: inherit;
  overflow: hidden;
}
body main .window .window-content #tictac .wrapper {
  margin-top: 2%;
  font-weight: 700;
}
body main .window .window-content #tictac .wrapper .score-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
body main .window .window-content #tictac .wrapper .score-wrapper .score {
  color: white;
  font-size: 3vmin;
  text-align: center;
  margin: 0 1vh;
  padding: 1.75vh;
  border-radius: 8px;
  background-color: #0a0027;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
body main .window .window-content #tictac .wrapper .score-wrapper #scoreTie {
  background-color: white;
  color: #0a0027;
}
body main .window .window-content #tictac .wrapper .container {
  width: 40vmin;
  height: 33vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 1vmin;
  margin: auto;
  margin-top: 1.5vmin;
  justify-content: center;
}
body main .window .window-content #tictac .wrapper .container .button-option {
  height: 10vmin;
  width: 10vmin;
  font-size: 8.5vmin;
  color: #12043d;
  border-radius: 10px;
}
body main .window .window-content #tictac .wrapper .container .button-option:hover {
  background: rgba(255, 255, 255, 0.5);
}
body main .window .window-content #tictac .wrapper .gamebtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
body main .window .window-content #tictac button:hover {
  cursor: pointer;
}
body main .window .window-content #tictac .op {
  font-weight: 700;
  padding: 1em;
  border-radius: 8px;
  background-color: white;
  color: rgb(41, 34, 156);
  border: 1px solid transparent;
  position: relative;
  margin: 0.5em auto;
  display: flex;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
body main .window .window-content #tictac .choice {
  display: flex;
  padding: 0.5em;
}
body main .window .window-content #tictac .choice .op {
  padding: 0.3em 1.2em;
  font-size: 5vmin;
  margin: auto 0.5em;
  justify-content: center;
}
body main .window .window-content #tictac .choice .op:hover {
  background-color: transparent;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.3);
}
body main .window .window-content #tictac .popup {
  background-size: cover;
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
body main .window .window-content #tictac .popup #message {
  color: white;
  text-align: center;
  font-size: 1em;
}
body main .window .window-content #tictac .popup #play-again {
  padding: 0.5em 1em;
  font-size: 0.6em;
  border-radius: 8px;
  background-color: white;
  color: rgb(41, 34, 156);
  border: none;
}
body main .window .window-content #tictac .popup.hide {
  display: none;
  animation: fadeOut 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body main .window .window-content .calculator-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body main .window .window-content .calculator-wrapper {
    flex-direction: column;
  }
}
body main .window .window-content .calculator-wrapper #calculator {
  margin: 0;
  width: 20rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body main .window .window-content .calculator-wrapper #calculator {
    margin: auto;
  }
}
body main .window .window-content .calculator-wrapper #calculator .result td input {
  width: 100%;
  background: none;
  border: none;
  padding: 1rem 0;
  font-family: "Roboto Mono", monospace;
}
body main .window .window-content .calculator-wrapper #calculator .keys input {
  width: 5rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  padding: 1.5rem;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}
body main .window .window-content .calculator-wrapper #calculator .keys input:hover {
  background-color: white;
}
body main .window .window-content .calculator-wrapper #calculator .keys #btn-refresh {
  background-color: rgb(214, 133, 224);
}
body main .window .window-content .calculator-wrapper #calculator .keys #btn-refresh:hover {
  background-color: #e4aeea;
}
body main .window .window-content .calculator-wrapper #calculator .keys #btn-equal {
  background-color: rgb(123, 155, 216);
}
body main .window .window-content .calculator-wrapper #calculator .keys #btn-equal:hover {
  background-color: #a2b9e4;
}
body main .window .window-content .calculator-wrapper #operations-pannel {
  height: 21.8rem;
  width: 13rem;
  margin-bottom: 0.3rem;
  border-radius: 5px;
  list-style: none;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body main .window .window-content .calculator-wrapper #operations-pannel {
    margin: auto;
    height: 5rem;
    margin-top: 1rem;
    width: 20rem;
    overflow: scroll;
  }
}
body main .window .window-content .calculator-wrapper #operations-pannel li {
  padding: 0 10px 0 10px;
  color: rgb(56, 56, 56);
  width: 100%;
}
body main .window .window-content .calculator-wrapper #operations-pannel:hover {
  background-color: #a2b9e4;
}
body main .window .window-content #clock .card {
  /* max-width: 500px; */
  width: 700px;
  height: 400px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body main .window .window-content #clock .card {
    width: 100%;
    padding: 0;
  }
}
body main .window .window-content #clock .card .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 10px;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}
body main .window .window-content #clock .card .tab button {
  background-color: inherit;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 1px 16px;
  transition: 0.3s;
  font-size: 17px;
}
body main .window .window-content #clock .card .tab button:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body main .window .window-content #clock .card .tab button.active {
  background-color: #ccc;
}
body main .window .window-content #clock .card .analog-clock {
  width: 10rem;
  height: 10rem;
  position: relative;
  padding: 1rem;
  border: 5px solid #282828;
  box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 20px auto;
  background-color: #282828;
}
body main .window .window-content #clock .card .analog-clock .line {
  position: relative;
  background: #282828;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
body main .window .window-content #clock .card .analog-clock .line .sub {
  background: #bdbdcb;
  width: 2px;
}
body main .window .window-content #clock .card .analog-clock .line .sub.sub-one {
  transform: rotate(30deg);
}
body main .window .window-content #clock .card .analog-clock .line .sub.sub-two {
  transform: rotate(60deg);
}
body main .window .window-content #clock .card .analog-clock .line .sub.sub-three {
  transform: rotate(120deg);
}
body main .window .window-content #clock .card .analog-clock .line .sub.sub-four {
  transform: rotate(150deg);
}
body main .window .window-content #clock .card .analog-clock .line .circle {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #282828;
  border-radius: 100%;
  z-index: 1;
}
body main .window .window-content #clock .card .analog-clock .line .circle .hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #dda0dd;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
body main .window .window-content #clock .card .analog-clock .line .circle .hand.hand-hour {
  width: 30%;
  z-index: 3;
}
body main .window .window-content #clock .card .analog-clock .line .circle .hand.hand-min {
  height: 3px;
  z-index: 10;
  width: 40%;
}
body main .window .window-content #clock .card .analog-clock .line .circle .hand.hand-second {
  background: #ff0000;
  width: 45%;
  height: 2px;
  z-index: 1;
}
body main .window .window-content #clock .card .analog-clock .line .circle .time-ref-display {
  color: rgba(255, 255, 255, 0.45);
  position: absolute;
  left: 40%;
  top: 70%;
}
body main .window .window-content #clock .card .analog-clock .line .circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 18px;
  margin-left: -5px;
  margin-top: -4px;
  background: #4d4b63;
  z-index: 11;
}
body main .window .window-content #clock .card .analog-clock .line::after {
  transform: rotate(90deg);
}
body main .window .window-content #clock .card .analog-clock .line::after,
body main .window .window-content #clock .card .analog-clock .line::before,
body main .window .window-content #clock .card .analog-clock .line .sub {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #f1f1f1;
  z-index: 0;
  left: 49%;
}
body main .window .window-content #clock .card .digital-clock-display {
  font-size: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  color: gray;
}
body main .window .window-content #clock .card li > div.digital-clock-display {
  font-size: 15px;
}
body main .window .window-content #clock .card .stopwatch-btn {
  display: flex;
}
body main .window .window-content #clock .card .stopwatch-wrapper,
body main .window .window-content #clock .card .timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
body main .window .window-content #clock .card .time-display {
  font-size: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  color: gray;
}
body main .window .window-content #clock .card .btn-clock {
  font-weight: 700;
  padding: 1em;
  border-radius: 8px;
  background-color: white;
  color: rgb(41, 34, 156);
  border: 1px solid transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 1em;
}
body main .window .window-content #clock .card .btn-clock:hover {
  background-color: rgb(41, 34, 156);
  color: white;
  border: 1px solid rgb(41, 34, 156);
}
body main .window .window-content #clock .card .stopwatch-lap {
  scroll-behavior: smooth;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin: 3em;
}
body main .window .window-content #clock .card .stopwatch-lap > div {
  list-style: none;
}
body main .window .window-content #clock .card .stopwatch-lap::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body main .window .window-content #clock .card .stopwatch-lap::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
body main .window .window-content #clock .card .stopwatch-lap::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
body main .window .window-content #clock .card .stopwatch-lap::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 6px;
}
body main .window .window-content #clock .card .stopwatch-lap > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
}
body main .window .window-content #clock .card .stopwatch-lap > div > div {
  width: 50%;
}
body main .window .window-content #clock .card .stopwatch-lap > div > div:first-child {
  text-align: left;
}
body main .window .window-content #clock .card .stopwatch-lap > div > div:last-child {
  text-align: right;
}
body main .window .window-content #clock .card .stopwatch-lap > div > div > span {
  font-size: 20px;
}
body main .window .window-content #clock .card .stopwatch-lap > div > div > span:first-child {
  color: gray;
}
body main .window .window-content #clock .card .stopwatch-lap > div > div > span:last-child {
  color: rgb(41, 34, 156);
}
body #params {
  display: none;
  width: 45rem;
  height: 33rem;
  margin-top: 3rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body #params {
    width: 100%;
    position: absolute;
    top: 40%;
  }
}
body #params #params-icons {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body #params #params-icons {
    flex-wrap: wrap;
    font-size: 12px;
  }
}
body #params #params-icons li {
  text-align: center;
  flex-basis: 7rem;
  margin: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  height: auto;
  text-align: bottom;
  -moz-text-align-last: center;
       text-align-last: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body #params #params-icons li {
    flex-basis: 6rem;
    margin: 1rem;
    height: auto;
  }
  body #params #params-icons li img {
    width: 100%;
  }
}
body #params #params-icons li img {
  width: 100%;
}
body #params #params-icons li img:hover {
  cursor: pointer;
}
body #vibration-wrapper,
body #time-wrapper,
body #date-wrapper,
body #battery-wrapper,
body #network-wrapper {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 42rem;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  height: 28rem;
}
body #vibration-wrapper div,
body #time-wrapper div,
body #date-wrapper div,
body #battery-wrapper div,
body #network-wrapper div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}
body #vibration-wrapper button,
body #time-wrapper button,
body #date-wrapper button,
body #battery-wrapper button,
body #network-wrapper button {
  background: rgba(214, 133, 224, 0.7);
  border-radius: 99px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 18px;
  z-index: 1;
  border: 0;
  width: 8rem;
  cursor: pointer;
  font-weight: 800;
}
body #vibration-wrapper button:hover,
body #time-wrapper button:hover,
body #date-wrapper button:hover,
body #battery-wrapper button:hover,
body #network-wrapper button:hover {
  background-color: #ebc2f0;
}
body #vibration-wrapper select,
body #time-wrapper select,
body #date-wrapper select,
body #battery-wrapper select,
body #network-wrapper select {
  font-size: 12px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}
body .param-title {
  color: #3e3e3e;
  margin: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#server-ping-modal {
  display: none;
  width: 23rem;
  height: 13rem;
  position: absolute;
  border: 2px solid pink;
  z-index: 999;
}/*# sourceMappingURL=style.css.map */