* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    background: rgb(41,34,156);
    background: url(../assets/light_background_3.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

body header #switch-mode-btn {
    width: 2.5rem;
    right: 2.5rem;
    top: 4rem;
    position: absolute;
    z-index: 20;
  }

body header #switch-mode-btn img {
    width: 100%;
  }

  body header #switch-mode-btn img:hover {
    cursor: pointer;
  }

  body header nav {
    position: relative;
    display: flex;
    justify-content: end;
    height: 5vh;
  }

  body header nav ul {
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    align-items: center;
    padding: 0.5rem 0;
  }

  body header nav ul li {
    flex-basis: 6%;
    color: #ffffff;
  }

  body header nav ul li img {
    width: 100%;
  }

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 45vmin;
    height: 45min;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    margin: auto;
    margin-top: 1.5vmin;
}

button:hover {
    cursor: pointer;
}

.button-option {
    height: 14vmin;
    width: 14vmin;
    font-size: 12vmin;
    color: #12043d;
    border-radius: 16px;
}

.button-option:hover {
    background: rgba(255, 255, 255, 0.50);
}

.gamebtn {
    display: flex;
}

.op {
    font-size: 3vmin;
    padding: 1em;
    border-radius: 8px;
    background-color: white;
    color: rgba(41,34,156,1);
    border: 1px solid transparent;
    position: relative;
    margin: .5em auto;
    display: flex;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.choice {
    display: flex;
    padding: .5em;
}

.choice .op {
    padding: .3em 1.2em;
    font-size: 14vmin;
    margin: auto .5em;
    justify-content: center;
}

.op:hover {
    background-color: transparent;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.3);

}

.popup {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
}

#play-again {
    padding: 0.5em 1em;
    font-size: 0.6em;
    border-radius: 8px;
    background-color: white;
    color: rgba(41,34,156,1);
    border: none;

}

#message {
    color: white;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display: none;
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* GLASSMORPHISM PROPERTIES */

.glass {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.47);
}

.darkglass {
    background: rgba(28, 21, 37, 0.2);
    border: 1px solid rgba(28, 21, 37, 0.29);
}

.darkbtn {
    background-color: #0A0027;
    color: white;
}

.darkbtn:hover {
    background-color: transparent;
    background: rgba(28, 21, 37, 0.2);
    border: 1px solid rgba(28, 21, 37, 0.29);
}

.score-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    color: white;
    font-size: 5vmin;
    text-align: center;
    padding: 1.75vh;
    border-radius: 8px;
    background-color: #0A0027;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

#scoreTie {
    background-color: white;
    color: #0A0027;
}